[buildout]
develop = .
parts = test coverage coverage-html sphinx
include-site-packages = false

[test]
recipe = zc.recipe.egg
eggs = ptah
       nose
       rednose
       coverage
       nose-cov
entry-points = test=nose:run_exit
initialization = import sys
  sys.argv = sys.argv + ['--rednose', 'ptah/']

[coverage]
recipe = zc.recipe.egg
eggs = ptah
       nose
       coverage
       nose-cov
entry-points = coverage-test=nose:run_exit
initialization = import sys
  sys.argv = sys.argv + ['--with-cov', 'ptah/']

[coverage-html]
recipe = zc.recipe.egg
eggs = ptah
       nose
       coverage
       nose-cov
entry-points = coverage-html=nose:run_exit
initialization = import sys
  sys.argv = sys.argv + ['--with-cov', 'ptah/', '--cov-report', 'html']

[sphinx]
recipe = zc.recipe.egg
eggs = Sphinx
       ptah
