 /* form */
@media all {
.z-form a {
    text-decoration: none;
}

.z-form-description {
    color: #76797C;
    margin-bottom: 1.5em;
    font-size: 90%;
}

.z-form-field .z-form-description {
    color: #76797C;
    font-size: 90%;
    font-weight: normal;
    margin-bottom: 1.5em;
}

.z-form-fieldset {
    margin-bottom: 1em;
    color: #252525;
    background-color: #F8F8F8;
    padding: 0.5em 1em 0.5em 1em;
}

.z-form-fieldset.last {
    margin-bottom: 0em;
}

.z-form form:first-child > .z-form-fieldset {
    margin-top: 0em;
}

.z-form-fieldset ul a {
    text-decoration: none;
    border-bottom: 1px dotted #76797C;
}

.z-form-fieldset label {
    font-weight: normal;
}

.z-form-fieldset h2 {
    font-weight: bold;
}

.z-form-fieldset .header {
    border-bottom: 1px solid #B0C7DD;
}

.z-form-field {
    margin: 0 1em 1em 0;
}

.z-form-field .z-form-field {
    margin: 1em 0 0 0;
}

.z-form-field label {
    font-size: 100%;
    white-space: nowrap;
}

.z-form-fieldRequired {
    padding: 0 0 0 8px;
    /*color: #F8F8F8;*/
}

.z-form-fieldUploadFile {
    text-align: right;
    margin-right: 0.75em;
    display: none;
}

.z-form-fieldTextFormat {
    text-align: right;
    margin-right: 0.75em;
}

.z-form-help {
    font-size: 90%;
    color: #76797C;
    margin: 0 0 0.2em 0;
    white-space: nowrap;
}

.z-form-help:hover {
    color: #252525;cursor: default;
}

.z-form-field.error {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    padding: 1em;
    margin: 0 0 1em 0;
    width: 95%;
}

.z-form-field.error .z-form-fieldRequired {
    color: #ffce7b;
}

.z-form-controls {
    clear: both;
    margin-top: 1em;
}

.z-form-controls div {
    padding-top: 0.5em;
}

.z-form-button {
    background: transparent url(linkTransparent.gif) no-repeat;
    background-position: 5px center;
    cursor: pointer;
    font-size: 90%;
    padding: 1px 1px 1px 16px;
}

.z-form-standalonebtn {
    background: #E2EFFC url(linkOpaque.gif) no-repeat;
    background-position: 5px center;
    cursor: pointer;
    font-size: 90%;
    padding: 1px 1px 1px 16px;
}

.z-form-addbutton {
    background: transparent url(inkTransparent.gif) no-repeat;
    background-position: 5px center;
    cursor: pointer;
    font-size: 90%;
    padding: 1px 1px 1px 16px;
}

.z-form-savebutton {
    background: transparent url(linkTransparent.gif) no-repeat;
    background-position: 5px center;
    cursor: pointer;
    font-size: 90%;
    padding: 1px 1px 1px 16px;
}

.z-form-cancelbutton {
    background: #E2EFFC url(linkOpaque.gif) no-repeat;
    background-position: 5px center;
    cursor: pointer;
    font-size: 90%;
    padding: 1px 1px 1px 16px;
}

.z-form-removebutton {
    background: #E2EFFC url(linkOpaque.gif) no-repeat;
    background-position: 5px center;
    cursor: pointer;
    font-size: 90%;
    padding: 1px 1px 1px 16px;
}
}
