-e git+https://github.com/Pylons/colander.git#egg=colander
-e git+https://github.com/ptahproject/memphis#egg=memphis
-e git+https://github.com/ptahproject/ptah.git#egg=ptah
-e git+https://github.com/ptahproject/ptah_cms.git#egg=ptah_cms
-e git+https://github.com/ptahproject/ptah_app.git#egg=ptah_app